*{
    
    padding: 0px;
    margin: 0px;
}
.colorContainer{
    width: 80px;
    height: 80px;
    background: black;
}
.cajaContendor{
    display: flex;
    justify-content: center;
    }
    .listaCajas{
        margin: 10px;
        
    }